*{
  margin: 0;
}

body{
  
   background-image: url('https://cdn.georgeinstitute.org/sites/default/files/styles/width1920_fallback/public/2020-03/covid-and-most-at-risk.jpg')
  
}

.App{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-content: center;
 
}

.app__dropdown{
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgb(236, 236, 236) ;
  border:px;
  
}
.app__header{

  display: flex;
  align-content: stretch;
  margin: 20px;
  margin-left: initial;
  justify-content: space-around;
  color: rgb(207, 226, 30);
  font-size: 22px;
}

.app__right{
  margin-top: 45px;
}
  

h1{
  margin: 15px;
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px){
  .App{
  flex-direction: column;
  }
}